.yhc-item{
    .el-form-item__content{
        line-height: 32px;
    }
    .el-input{
        line-height: 32px;
    }
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
}