.mb40{
    margin-bottom: 40px;
}
.mr34{
    margin-right: 34px;
}
.width100{
    width: 100%;
}
.cursor_p{
    cursor: pointer;
}
.displayFl{
    display: flex;
    
}
.btn{
    height: 34px;
    line-height: 20px;
    border-radius: 4px;
    padding: 6px 11px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.bgWhite{
    background: #FFFFFF;
    border: 1px solid #3551DF;
}
.t_a_c{
    text-align: center;
}
.gray-font{
    color:#999;
}
.clearfix{
    clear: both;
    overflow: hidden;
}
.btn-operate{
    cursor: pointer;
    width: 108px;
    height: 40px;
    border-radius: 4px;
}
.btn-orange{
    background: #FF8E1D;
    border-radius: 4px;
}
.btn-blue{
    background: #3551DF;
}
.btn-blue_{
    background: #6DC4EE;
}
.btn-red{
    background: #FF3333;
}
.btn-green{
    background: #4E9F5B;
}
.btn-gray{
    background: #D3D3D3;
}

.icon_warning{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/warning.png") no-repeat center center;
}
.part-line{
    width: 100%;
    border: none;
    border-top: 1px solid #F0F0F0;
    margin: 16px 0;
}